@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --primary-color: rgb(248, 39, 39, 0.5);
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
}
